################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphsToStudy/v16
/GraphsToStudy/x64/Debug/GraphsToStudy.tlog
/x64/Debug
/GraphsToStudy/x64
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
