################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphsToStudy/v16
/GraphsToStudy/x64/Debug/GraphsToStudy.tlog
/x64/Debug
/GraphsToStudy/x64
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/GraphsToStudy/FileContentIndex/c7307713-e3f6-4020-a226-208c6cfdca97.vsidx
*.lock
/.vs/GraphsToStudy/v17
*.vsidx
